#ai-chat {
	color: #000;
    background: #5bcef1;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    height: 200px;
    overflow: auto;
    resize: vertical;
}

#ai-chat-input {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border-width: 0;
}