.link {
    position:fixed;
    margin:0px;
    text-align:center;
    opacity:0.7;
}

.linkLine {
	position:relative;
    background:#299ec1;
    margin:0px;
}

.linkLabel {
    position:relative;
    width:115px;
}

.linkText {
    margin:0px;
    padding:2px;
    color:#FFF;
    background:#097ea1;
    /*background:#299ec1;*/
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}

.linkArrow {
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #097ea1;
    float:right;
}
