html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
}

#main-view {
    width:100%;
    height:100%;
    position: relative;
    background:rgba(0, 0, 0, 0);
    z-index:1;
}

#nav-spacer {
    position:relative;
    height:40px;
}

#rel-list {
    position:fixed;
    top:45px;
    left:0px;
    max-width:250px;
    max-height:100%;
    overflow:auto;
    padding:10px;
    color:rgba(0, 0, 0, 1);
    background:rgba(255, 255, 255, 0.95);
    border-right-style:solid;
    border-right-width:1px;
    border-right-color: #CCC;
    z-index:2;
}

#rel-list .visible_rel_link {
    color:rgba(90, 90, 90, 1);
}

#rel-list .hidden_rel_link {
    color:rgba(0, 0, 0, 1);
}