.node {
    color:#000;
    background:#eee;
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
    max-width: 100px;
    text-overflow:ellipsis;
}

.node a {
    color:#000;
}

.nodeDetail {
    display:none;
}

.snode1 {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.snodeN {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.snodeDialog {
    display:inline;
    float:left;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
}

#graphDiv {
    position:fixed;
    top: 0px;
    left: 0px;
    z-index:1;
    width:100%;
    height:100%;
    overflow:hidden;
    background: rgba(0, 0, 0, 0);
}

#nodesDiv {
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    background: rgba(0, 0, 0, 0);
}