.node {
    color:#000;
    background:#eee;
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
    max-width: 200px;
    text-overflow:ellipsis;
}

.node a {
    color:#000;
}

.nodeDetail {
    display:none;
}

.nodeTitle {
    max-height: 70px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.nodeUrl {
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 170px;
}

.nodeUrl a {
    color:rgb(0, 0, 255);
}

.nodeIco {
    margin-right:5px;
    float:left;
}

.snode {
    position:fixed;
}

.snodeInner {
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.snodeLabel {
    color:#fff;
    padding-left: 5px;
}

.snodeDialog {
    display:inline;
    float:left;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
}

#graph-view {
    position:relative;
    width:70%;
    height:100%;
    float:left;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    /*overflow:hidden;*/
}

#right-bar {
    position:relative;
    width:30%;
    height:100%;
    float:right;
    overflow: auto;
    background:#DDD;
    z-index:1;
    -webkit-transform: translate3d(0,0,0);
}

#text-view {
    padding:20px;
    margin-bottom:40px;
}