.node {
    max-width: 200px;
    color:#000;
    background:rgb(224, 224, 224);
    margin: 3px;
    padding: 3px;
    white-space: nowrap;
    clear:both;
}

.node a {
    color:#000;
}

.node_root {
    color:#000;
    background:#eee;
    margin: 3px;
    padding: 10px;
}

.nodeTitle {
    max-width: 170px;
    max-height: 70px;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}

.nodeTitle a {
    color:#000;
}

.nodeRemove {
    text-align: right;
    float:right;
    margin-left:10px;
}

.nodeRemove a {
    color: #B0B0B0;
}

.nodeUrl {
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 170px;
    float:left;
}

.nodeUrl a {
    color:rgb(0, 0, 255);
}

.nodeIco {
    margin-right:5px;
    float:left;
}

.snode {
    position:fixed;
}

.snodeInner {
    font-size: 12px;
    border-style:solid;
    border-width:3px;
    border-color:#AAA;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
}

.snodeLabel {
    color:#fff;
    padding-left:5px;
    padding-right:5px;
}

.snodeRoot {
    font-size: 28px;
    background:rgba(255, 255, 255, 0.8);
    border-width:0px;
    border-color:rgb(255, 255, 255);
    padding: 0px;
}

#graph-view {
    position:relative;
    width:100%;
    height:100%;
    float:left;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    /*overflow:hidden;*/
}