html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    font-family: Sans-Serif;
    font-size: 12px;
    background: #fff;
}.linkLabel {
    position:fixed;
    text-align:center;
    width:115px;
}

.linkDialog {
    position:relative;
    float:left;
    text-align:center;
    width:115px;
    margin:15px;
}

.linkText {
    position:relative;
    margin:0px;
    padding:2px;
    color:#FFF;
    background:#097ea1;
    /*background:#299ec1;*/
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}

.linkArrow {
    position:relative;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #097ea1;
    float:right;
    left:-1px;
}

.linkArrowLeft {
    position:relative;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #097ea1;
    float:left;
    right:0px;
}

.linkPoint {
    position:fixed;
    text-align:center;
    background:#097ea1;
    width:3px;
    height:3px;
}.node {
    color:#000;
    background:#eee;
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
    max-width: 200px;
    text-overflow:ellipsis;
}

.node a {
    color:#000;
}

.nodeDetail {
    display:none;
}

.nodeTitle {
    max-height: 70px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.nodeUrl {
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 170px;
}

.nodeUrl a {
    color:rgb(0, 0, 255);
}

.nodeIco {
    margin-right:5px;
    float:left;
}

.snode1 {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.snodeN {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.snodeDialog {
    display:inline;
    float:left;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
}

#main-view {
    width:100%;
    height:100%;
    position:fixed;
    top:45px;
    left:0px;
    background:rgba(0, 0, 0, 0);
    z-index:1;
}

#graph-view {
    width:70%;
    height:70%;
    float:left;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
}

#right-bar {
    position:relative;
    width:30%;
    height:70%;
    float:right;
    overflow: auto;
    background:#DDD;
    z-index:1;
}

#text-view {
    padding:20px;
}#ai-chat {
    position:relative;
	color: #fff;
    background: #333;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    height: 30%;
    overflow: auto;
    resize: vertical;
    z-index:2;
}

#ai-chat-input {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border-width: 0;
}