html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    font-family: Sans-Serif;
    font-size: 12px;
}.link {
    position:fixed;
    margin:0px;
    text-align:center;
    opacity:0.7;
}

.linkLine {
	position:relative;
    background:#299ec1;
    margin:0px;
}

.linkLabel {
    position:relative;
    width:115px;
}

.linkText {
    margin:0px;
    padding:2px;
    color:#FFF;
    background:#097ea1;
    /*background:#299ec1;*/
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}

.linkArrow {
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #097ea1;
    float:right;
}
.node {
    color:#000;
    background:#eee;
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
}

.node a {
    color:#000;
}

.nodeDetail {
    display:none;
}

.snode1 {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.snodeN {
    position:fixed;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

#graphDiv {
    position:fixed;
    top: 0px;
    left: 0px;
    z-index:1;
    width:100%;
    height:100%;
    overflow:hidden;
    background: rgba(0, 0, 0, 0);
}

#nodesDiv {
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    background: rgba(0, 0, 0, 0);
}