html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
}

#main-view {
    width:100%;
    height:100%;
    position: relative;
    /*position:fixed;
    top:45px;
    left:0px;*/
    background:rgba(0, 0, 0, 0);
    z-index:1;
}

#nav-spacer {
    position: relative;
    height:40px;
}.node {
    color:#000;
    background:#eee;
    margin: 3px;
    padding: 3px;
    max-width: 200px;
    text-overflow:ellipsis;
}

.node a {
    color:#000;
}

.nodeDetail {
    display:none;
}

.nodeTitle {
    max-height: 70px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.nodeUrl {
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 170px;
}

.nodeUrl a {
    color:rgb(0, 0, 255);
}

.nodeIco {
    margin-right:5px;
    float:left;
}

.snode {
    position:fixed;
}

.snodeInner {
    font-size: 12px;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.snodeLabel {
    color:#fff;
    padding-left: 5px;
}

.snodeRoot {
    font-size: 18px;
    border-width:4px;
    border-color:#000;
    border-style:dashed;
}

.snodeDialog {
    display:inline;
    float:left;
    border-style:solid;
    border-width:2px;
    border-color:#AAA;
    padding: 10px;
}

#graph-view {
    position:relative;
    width:100%;
    height:100%;
    float:left;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    /*overflow:hidden;*/
}#ai-chat {
    position:relative;
	color: #fff;
    background: #333;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    height: 30%;
    overflow: auto;
    resize: vertical;
    z-index:2;
}

#ai-chat-input {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border-width: 0;
}

.gb-line {
    color: #ADF6F7;
}

.gb-line a {
    color: #D5F7F7;
}

.gb-line a:hover {
    color: #D5F7F7;
    text-decoration:underline;
}

.user-line {
    color: #F7E57E;
}