html, body {
    margin: 0px;
    font-family:"Helvetica", sans-serif;
    font-size: 16px;
    color:#333;
}

#logo { 
    width:100%;
    text-align:center;
    margin:70px 0px 70px 0px;
}

#slogan { 
    width:100%;
    font-size:30px;
    color:#555;
    text-align:center;
    margin:70px 0px 70px 0px;
}

#slogan2 { 
    width:100%;
    font-size:20px;
    color:#555;
    text-align:center;
    margin:70px 0px 70px 0px;
}

#slogan2 a { 
    color:#000;
}