.hyperedge {
    display: inline-block;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    max-width: 90%;
}

.depth0 {
    background: #DDD;
}

.depth1 {
    background: #BBB;
}

.depth2 {
    background: #999;
}

.depth3 {
    background: #777;
}

.outer-hyperedge {
    clear:both;
    vertical-align: middle;
}

.symbol a {
    color: white;
}

.rel {
    display: inline-block;
    height: 24px;
    background-color: white;
    vertical-align: middle;
    margin-left: 12px;
}

.rel a {
    color: black;
    vertical-align: middle;
    padding: 5px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left: 12px solid white;
    position: relative;
    top: 8px;
}

.zoom-out {
    margin-right: 5px;
}