.hyperedge {
    display: inline-block;
    border-width: thin;
    border-style: solid;
    border-color: #DDD;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    max-width: 90%;
    background: #DDD;
}

.outer-hyperedge {
    clear:both;
    vertical-align: middle;
}

.symbol a {
    color: white;
}

.rel {
    display: inline-block;
    height: 24px;
    background-color: white;
    vertical-align: middle;
    margin-left: 12px;
}

.rel a {
    color: black;
    vertical-align: middle;
    padding: 5px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left: 12px solid white;
    position: relative;
    top: 8px;
}
