html, body {
    margin: 0px;
    font-family:"Helvetica", sans-serif;
    font-size: 16px;
    color:#333;
}

#logo { 
	width:100%;
    text-align:center;
    margin:70px 0px 70px 0px;
}

#slogan { 
    width:100%;
    font-size:30px;
    color:#555;
    text-align:center;
    margin:70px 0px 70px 0px;
}

#left {
    width:50%;
    float:left;
}

#right {
    width:50%;
    float:right;
}

#email {
    background:#FAFAB2;
    margin:0px 25px 0px 50px;
    padding:30px;
    -moz-border-radius:25px 25px 25px 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}

#login {
    background:#B2FAFA;
    margin:0px 50px 0px 25px;
    padding:30px;
    -moz-border-radius:25px 25px 25px 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}

form {
    font-size: 18px;
    color:#777;
}

input {
    font-size: 18px;
}

.error {
    color:#FF0000;
}