<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/main.css" type="text/css" rel="Stylesheet" />  
{% block js %}{% endblock %}
</head>
<body>
<table width="100%" border="0">
<tr valign="top" align="center">
<td colspan="3" style="background-color:#FFFFFF;">
<img src="images/GB_logo_M.png" alt="graphbrain"/>
</td>
</tr>


<tr>
<td style="background-color:#EEEEEE;width:1px;textalign:top">
</td>
<td style="background-color:#EEEEEE;textalign:top">
{% block content %}{% endblock %}
</td>
<td style="background-color:#EEEEEE;width:1px;textalign:top">
</td>
</tr>
</table>
</body>
</html>
