<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/main121011.css" type="text/css" rel="Stylesheet" />  
<link rel=”shortcut icon” href=”/favicon.ico” type=”image/x-icon” />
{% block js %}{% endblock %}
</head>
<body>
<div id="topDiv">
    <div id="logo">
        <img src="../static/images/GB_logo_M.png" alt="graphbrain"/>
    </div>
    <div id="topCentre">{% block top_centre %}{% endblock %}</div>
    <div id="topRight">{% block top_right %}{% endblock %}</div>
</div>

<br /><br /><br />

{% block content %}{% endblock %}
</body>
</html>
