{% extends 'base.html' %}
{% block title %}GraphBrain - Help{% endblock %}

{% block content %}

<h2>Help</h2>

The main input field on the GraphBrain interface lets you add new facts or relationships to the system. You do that by typing simple sentences like:

<p>
Mickey is a mouse.
<br />
The Beatles were a rock band.

<p>Each time you tell GraphBrain something new, a new relationship will be added to the current brain. You will be able to see it in the interface.

<p>Overall, sentences should have the form:

<p>some stuff verb some other stuff

<p>Sometimes GraphBrain will need some help to make sense of the sentences you type. You can use quotation marks to make things clearer:

<p>
"Heres comes your man" is a song by "The Pixies"

<p>Give it a go and you will soon get the hang of it. Adding stuff to GraphBrain is a lot of fun!

{% endblock %}
