{% extends 'base.html' %}
{% block title %}GraphBrain{% endblock %}
{% block js %}
<script src="/static/js/jquery-1.6.4.min.js" type="text/javascript" ></script>
<script src="/static/js/graph121011.js" type="text/javascript" ></script>
{% endblock %}

{% block top_centre %}
<div class="modeButton" id="dragModeButton">Move</div>
<div class="modeButton" id="addModeButton">Add</div>
<div class="tip">Try clicking & dragging!</div>
{% endblock %}

{% block top_right %}
<a href="/logout">Logout</a> |
<a href="/createbrain">Create Brain</a> <br />
<form action="/selbrain" method="post" id="selbrainForm">
    <select name="brainDropDown" onChange="this.form.submit()">
        {% for g in graphs %}
            <option value="{{ g.root }}" {% if g.id == graph_id %}selected{% endif %}>{{ g.name }}</option>
        {% endfor %}
    </select>
</form>
{% endblock %}
        
{% block content %}
<canvas id="graphCanvas">
    Sorry, your browser does not support canvas.
</canvas>

<div id="nodesDiv"></div>

<form action="/delink" method="post" id="delinkForm">
    <input type="hidden" name="link_id">
</form>

<div class="overlay" id="overlay" style="display:none;"></div>
<div class="box" id="box">
    <a class="boxclose" id="boxclose"></a>
    <h1>Add Relationship</h1>
    <form action="/add" method="post" id="selbrainForm">
    <div class="dlabel">Origin:</div>
    <h2 id="dNode1"></h2>
    <input type="text" name="orig_text" id="dNode1In" size="40" />
    <div class="dlabel">Relationship:</div>
    <input type="text" name="rel" id="dRel" size="40" />
    <div class="dlabel">Target:</div>
    <h2 id="dNode2"></h2>
    <input type="text" name="targ_text" id="dNode2In" size="40" />
    <input type="hidden" name="orig_id" id="dNode1_id" />
    <input type="hidden" name="targ_id" id="dNode2_id" />
    <input type="hidden" name="graph_id" value="{{ graph_id }}">
    <input type="hidden" name="node_id" value="{{ node_id }}">
    <br />
    <input type="submit" value="Add" />
    </form>
</div>


<script language="javascript">

var nodes =  {{ nodes_json|safe }};
var links = {{ links_json|safe }};

initGraph(nodes, links);
</script>

{% endblock %}
